:root {
    --fore-color: #f0f4f5;
    --darkgray-color: #333;
    --lightgray-color: rgb(211,211,211);
    --accent-color: rgba(21, 43, 88);
    --lightblue-color: rgba(40, 80, 164, 1);
    --darkblue-color: rgb(26, 38, 95);
}


*, ::after, ::before {
    box-sizing:border-box;
    margin: 0;
}
table {border-collapse: collapse;}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: white;
}
body {
    border: 0;
    margin: 0;
    font-family: 'SUIT', 'Gotham', 'Montserrat';
    color: var(--darkgray-color);
}
ul {
    list-style:none;
    padding-left:0px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
h1 {
    letter-spacing: 0.5px;
    line-height: 1.6em;
    font-size: 3rem;
}
h2 {
    letter-spacing: 0.5px;
    font-size: 2rem;
    line-height: 1.6em;
}
h4 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1rem;
}
p {
    font-family: 'SUIT';
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
}
a {
    text-decoration: none;
    color: var(--fore-color);
}
a:hover {
    color: var(--fore-color);
}
button {
    border: 0;
    outline: 0;
}
.flex, .d-flex {
    display: flex;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: transparent;
    transition: 1s;
    z-index: 999;
    font-size: 30px;
}

.navbar.sticky {
    background: var(--fore-color);
    padding: 0;
    line-height: 60px;
}

.navbar.sticky a {
    color: var(--darkblue-color);
}
.navbar.sticky .navbar-logo {
    scale: 1.0;
}

.navbar-logo {
    flex: 1 0 auto;
    font-weight: 900;
    text-align: center;
    scale: 1.2;
    transition: all 1s;
}

.navbar-menu {
    font-size: 18px;
    display: flex;
    list-style: none;
    padding-right: 10%;
}

.navbar-menu li {
    padding: 0 12px;
}

.navbar-toogleBtn {
    display: none;
}



.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.section1 {
    background-image: url("../img/img_main.jpg");
    background-position: center;
    background-size: cover;
    font-weight: 900;
}

.section1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--darkblue-color);
}

img {
    width: 100%;
}

footer.section {
    border-top: 1px solid black;
    padding: 35px 10%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1rem;
        margin: 10px 0;
    }
    h2 {
        font-size: 1rem;
    }
    h5 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    .navbar {
        height: 50px;
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
    }
    .navbar.sticky .navbar-logo {
        height: 50px;
        line-height: 50px;
    }

    .navbar-menu {
        position: absolute;
        top: -50vh;
        right: 0;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        align-items: start;
        transition: all 0.2s;
        background-color: white;
        padding: 30px;
    }

    .navbar-menu a {
        color: var(--accent-color);
        text-align: right;
    }

    .navbar-menu.active {
        background-color: var(--fore-color);
        text-align: right;
        top: 0;
    }
    .wrapper table thead tr th:nth-child(-n+2){
        display: none;
    }
    .wrapper table tbody tr:nth-child(odd) td:nth-child(-n+4){
        display: none;
    }
    .wrapper table tbody tr:nth-child(even) td:nth-child(-n+2){
        display: none;
    }
    .section1 {
        background-image: url("../img/img_main_m.jpg");
        background-position: center;
        background-size: cover;
        font-weight: 900;
    }
    .section1 > div {
        font-size: 2rem;
    }
    .navbar-logo {
        font-size: 25px;
        font-weight: 900;
        padding-left: 10%;
        transition: all 0.5s;
    }
    footer h6{
        font-size: 13px;
        color: var(--darkgray-color);
    }
    /* 1. Style the hamburger button. */
    .hamburger-button {
        position: absolute;
        top: 30px;
        right: 5%;
        width: 25px;
        height: 20px;
        transition: all 0.5s;
    }
    .hamburger-button span {
        position: absolute;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: var(--fore-color);
    }
    .hamburger-button span:first-child {
        top: 0;
    }
    .hamburger-button span:nth-child(2), .hamburger-button span:nth-child(3) {
        top: 8px;
    }
    .hamburger-button span:last-child {
        top: 16px;
    }

    .hamburger-button.active span:first-child, .hamburger-button.active span:last-child{
        opacity: 0;
    }
    .hamburger-button.active span:nth-child(2) {
        transform: rotate(45deg);
    }
    .hamburger-button.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .navbar.sticky .hamburger-button span {
        background-color: var(--darkblue-color);
    }
    .hamburger-button.active span {
        background-color: var(--darkblue-color);
    }
    .navbar.sticky .hamburger-button {
        top: 17px;
    }
    footer.section {
        padding: 20px 20px;
    }
    footer h6{
        font-size: 12px;
        color: var(--darkgray-color);
    }
}